<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\AiNexus.Host.dll" stdoutLogEnabled="false" stdoutLogFile="..\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="LocalConfigPath" value="..\config\appsettings.Production.json" />
          <environmentVariable name="SecretsConfigPath" value="..\config\appsettings.Secrets.json" />
          <environmentVariable name="DataProtection__KeyRingPath" value="..\keys" />
          <!-- Optional override of the external Attachments.StoragePath setting:
          <environmentVariable name="Attachments__StoragePath" value="D:\CoreProject\AiNexus\data\attachments" />
          -->
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="10485760" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
