:host {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: var(--p-space-2);
  min-width: 0;
  padding: var(--empty-state-padding) var(--section-padding);
  text-align: center;
  color: var(--secondary);
}
